.container{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width:auto;
    margin: 3.7rem;
    border-radius: 1rem;
    :last-child {
            margin-right: 0;
        }
}

.container::-webkit-scrollbar {
    width: 2rem;
}

.container::-webkit-scrollbar-track {
    background-color: rgba(170, 170, 170, 0.16);
    border-radius: 1rem;
}
.container::-webkit-scrollbar-thumb{
    background-color: rgba(170, 170, 170, 0.297);
    border-radius: 1rem;
}