.container{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width:auto;
    height: 30.2rem;
    margin: 3.7rem;
    border-radius: 1rem;
    :last-child {
            margin-right: 0;
        }
}